<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="test.html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body class=" ">

    <div layout:fragment="content">
        <div class="alert alert-danger m-3">
            <h2>Degage Tu n'est Pas Autorise</h2>
        </div>
    </div>
    
      
    
</body>
</html>